<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel - UniComm</title>
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <link rel="stylesheet" href="/displayFiles.css">
</head>
<body>
    <header>
        <%- include('../nav') %>
    </header>

    <main class="main">
        <div class="main__content">
            <h1 class="main__title">Admin Panel</h1>
            <table class="admin__table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Uploaded By</th>
                    </tr>
                </thead>
                <tbody id="adminTableBody">
                    <% studentFiles.forEach(file => { %>
                        <tr>
                            <td>
                                <a href="/file/<%= file.Student.username %>"><%= file.fileName %></a>
                            </td>   
                            <td>
                                <%= file.Student.username %>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
    </main>

    <script src="/home.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const adminTableBody = document.getElementById('adminTableBody');
            adminTableBody.addEventListener('click', function(event) {
                const targetElement = event.target;
                if (targetElement.tagName === 'TD') {
                    const fileLink = targetElement.parentElement.querySelector('a').href;
                    window.location.href = fileLink;
                }
            });
        });
    </script>
</body>
</html>
