<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="/nav.css">

<body>
  <nav class="nav" id="topNav">
    <div class="nav__container">
      <a href="/" class="nav__logo">UniComm</a>
      <ul class="nav__menu">
        <li class="nav__item"><a href="/" class="nav__link">Home</a></li>
        <% if (user) { %>
          <% if (user.userType === 'student') { %>
            <li class="nav__item"><a href="/profile/<%= user.id %>" class="nav__link">Profile</a></li>
          <% } else if (user.userType === 'admin') { %>
            <li class="nav__item"><a href="/displayFiles" class="nav__link">Registration Verification</a></li>
          <% } %>
          <li class="nav__item"><a href="/logout" class="nav__link">Logout</a></li>
        <% } else { %>  
          <li class="nav__item"><a href="/login" class="nav__link">Login</a></li>
          <li class="nav__item"><a href="/register" class="nav__link">Register</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</body>